<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550888604476-hig5mmibd0mfhc4gthc1nj3f2q38qi85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550888604476-hig5mmibd0mfhc4gthc1nj3f2q38qi85</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ3HCuc0chPKAkr1oks3yB3FOHLOyVkTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>550888604476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SimSoft.iChat</string>
	<key>PROJECT_ID</key>
	<string>ios-projects-8e430</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-projects-8e430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550888604476:ios:ee304c72fcd202fed6d439</string>
	<key>DATABASE_URL</key>
	<string>https://ios-projects-8e430.firebaseio.com</string>
</dict>
</plist>